# Common files

.DS_Store
/**/.DS_Store

# Node modules

/node_modules
/**/node_modules
**/**/node_modules

# Clases to ignore
/Clase 15/Profe/Desafío
/Clase 15/Profe/Ejercicio
/Clase 16
/Clase 17 - 18



