# Common files

.DS_Store
/**/.DS_Store

# Node modules

/node_modules
/**/node_modules
**/**/node_modules

# Clases to ignore
/Clase 10 - 11/Profe/Workshop
/Clase 12
/Clase 13
/Clase 14
/Clase 15
/Clase 16
/Clase 17 - 18



